<h1>New Comment</h1>
<form action="/entry" method="post" accept-charset="utf-8">
	
		<p>
			<label for="name">Name</label><br />
			<input type="text" name="entry[name]" value="" id="entry_name">
		</p>		
	
		<p>
			<label for="comment">Comment</label><br />
			<input type="text" name="entry[comment]" value="" id="entry_comment">
		</p>		
	
	<p><input type="submit" value="Submit &rarr;"></p>
	<a href="/entry">Back</a>
</form>